.emailPopUpBox, .voting_popup_box, .msgPopUp, .socialPopUp, #share {
    display:none;
}
.popupBoxClose {
    width:26px;
    height:26px;
    right:9px;
    top:5px;
    position:absolute;
    cursor:pointer;
    background: url(../images/close_middle.png) no-repeat;
}

.popupBoxClose {
    width:26px;
    height:26px;
    right:1px;
    top:1px;
    position:absolute;
    cursor:pointer;
    background: url(../images/close_middle.png) no-repeat;
}
.overlay{
    position:fixed;
    _position:absolute;
    width:30%;
    background:#FFFFFF;
    left: 50%;
    top: 20%;
    z-index:100;
    margin-left: -15%;
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
    border-radius: 5px;
}
.overlay-inner{
    padding: 20px;
    overflow: hidden;
    color: #000000;
}
.overlay-inner input{
    color:#000000;

}
.overlay h1{
    font-size: 1.5em;
    margin: 0px 0px 10px 0px;
    padding: 0;
    line-height: 1.5em;
}
.overlay .overlay-inner p{
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
/*.overlay .social-content{
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
}*/
.overlay ul{
    margin: 0px;
    padding: 0px;
}
.overlay ul.list{   
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 20px;    
    list-style: disc;
}
.overlay ul.list li{
    display: list-item;;
    width: 100%;
    border: none;
    text-align: left;
    padding: 0px;
}
.overlay ul.social{
    margin: 0px;
    padding: 0px;
}
.overlay ul.social li{
    float: left;
    margin:0px 10px 0px 0px;
    text-align: center;
    width: 22%;
    padding: 0px;
    border: none;
}
.overlay ul.social li:last-child{
    margin-right: 0px;
}
.overlay ul.social li a{
    display: inline-block;
    width: 33px;
    height: 32px;
    background: url(../images/popup-social-icon.png) 0px 0px no-repeat;
}
.overlay ul.social li a.linked-in{
    background-position: 0px 0px;
}
.overlay ul.social li a.linked-in:hover{
    background-position: 0px -36px;
}
.overlay ul.social li a.facebook{
    background-position: -41px 0px;
}
.overlay ul.social li a.facebook:hover{
    background-position:-41px -36px;
}
.overlay ul.social li a.twitter{
    background-position: -82px 0px;
}
.overlay ul.social li a.twitter:hover{
    background-position: -82px -36px;
}
.overlay ul.social li a.email{
    background-position: -120px 0px;
}
.overlay ul.social li a.email:hover{
    background-position: -120px -36px;
}
.overlay ul.social li span{
    float: left;
    width: 100%;
}
.overlay .msg-content{
    text-align: center;
    padding: 25px 20px
}
.overlay .mail-content .row{
    margin-bottom: 15px;
}
.overlay .mail-content figure{
    float: left;
    width: 30%;
}
.overlay .mail-content section{
    float: left;
    width: 65%;
    margin-left: 3%;
}
.overlay .mail-content h3{
    margin: 0px;
    padding: 0px;
}
.overlay .mail-content p{
    margin:0px 0px 10px 0px;
}
.overlay .mail-content .form{
    float: left;
    width: 100%;
}
.overlay .mail-content .form label{
    margin:4px 1% 0px 0px;
    float: left;
    width: 30%;
}
.overlay .mail-content .form input{
     border: 1px solid #000000; 
    border-radius: 0px;
    float: left;
    margin: 0px;
    padding: 5px 8px;
    width: 50%;
    color: #000000;
}
.overlay .mail-content .form #loader_image{
    float: left;
    margin: 5px 0px 0px 10px;
}
.overlay .mail-content .form #email_error,
.overlay .mail-content .form #email_message{
    float: left;
    width: 69%;
    margin:5px 0px 0px 31%;
}
.overlay .mail-content a.btn{
    background: #00BBEE;
    border:none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px 20px;
    width: auto;
    float: right;
    margin: 0px;
    font-family: helvetica,arial;
}
.msgPopUp{
    min-height: 170px;
}
.socialPopUp .mail-content{
    min-height: 170px;
}
.overlay .mail-content .form .email_error,
.overlay .mail-content .form .email_message{
    margin: 5px 0px 0px 31%;
    float: left;
    width: 65%;
}
.share a{
    display: inline-block;
    width: 33px;
    height: 32px;
    background: url(../images/popup-social-icon.png) 0px 0px no-repeat;
    background-position: -120px 0px;
}
.share a:hover{
    background-position: -120px -36px;
}

/*Vote With Us*/
.overlay .voteWithUs {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.overlay .voteWithUs span {
    float: left;
    margin: 6px 10px 0px 0px;
    font-size: 1.5em;
    font-weight: normal;
    color: #474747;
    font-family: "Rotis Sans Serif W01";
}
.overlay .voteWithUs ul.social li figure{
    margin: 0px;
    padding: 0px;
    background: url("../images/popup-social-icon.png") no-repeat 0px 0px;
    display: inline-block;
    height: 32px;
    width: 33px;
    float: none;
}
.overlay .voteWithUs ul.social li figure.Facebook{
    background-position: -41px -36px;
}
.overlay .voteWithUs ul.social li figure.LinkedIn {
    background-position: 0px -36px;
}
.overlay .voteWithUs ul.social li figure.Twitter{
    background-position: -82px -36px;
}
.email-share-button a{
    margin: 0px;
    padding: 0px;
    background: url("../images/popup-social-icon.png") no-repeat 0px 0px;
    display: inline-block;
    height: 32px;
    width: 33px;
    float: none;
}
.email-share-button a.Facebook{
    background-position: -41px -36px;
}
.email-share-button a.LinkedIn {
    background-position: 0px -36px;
}
.email-share-button a.Twitter{
    background-position: -82px -36px;
}
.email-share-button a {
    margin: 0 5px;
}
.share-button a{
    margin: 0px;
    padding: 0px;
    background: url("../images/popup-social-icon.png") no-repeat 0px 0px;
    display: inline-block;
    height: 32px;
    width: 33px;
    float: none;
}
.share-button a.Facebook{
    background-position: -41px -36px;
}
.share-button a.LinkedIn {
    background-position: 0px -36px;
}
.share-button a.Twitter{
    background-position: -82px -36px;
}
.overlay .voteWithUs ul.social li span{
    font-family: helvetica, arial;
    font-size: 13px;
    margin: 0px;
    float: none;
}
/*.fb_dialog_advanced {
    top: 45px !important;
    width: 300px;
}
.content-box .fb_dialog_advanced iframe{
    height: 300px !important;
}*/
@media only screen and (max-width: 768px) {
    .overlay{
        width: 60%;
        margin-left: -30%;
    }
}
@media only screen and (min-width: 320px)  and (max-width: 520px) {
    .overlay{
        width: 90%;
        margin-left: -45%;
    }
    .overlay ul.social li{
        margin-right: 7px;
    }
}
.btn.white.voting-link {
    cursor: default;
}